<div class="max-w-md bg-white p-6 rounded-2xl relative font-outfit drop-shadow-2xl">
    <div class="flex justify-between items-start">
        <h2 class="text-5xl font-extrabold text-custom_dark_green">@product.Nome</h2>
        <!-- Adicionando @onclick para navegação -->
        <svg @onclick="NavigateToEditPage" class="mt-1 w-10 h-10 text-custom_dark_green cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
        </svg>
    </div>
   
    <div class="mt-6">
        <div class="flex justify-center">
            <img
                src="@product.Imagem"
                alt="@product.Nome"
                class="w-56 h-56 object-contain"
            />
           
            <div class="flex flex-col justify-center">
                <h3 class="mt-8 font-bold text-2xl mb-2 text-custom_dark_green">Componentes:</h3>
                @if (product.Id == 1){
                    <ul class="space-y-1 font-semibold text-custom_green">
                        <li><span class="font-extrabold mr-2">• </span>  Fio de Algodão (8x)</li>
                        <li><span class="font-extrabold mr-2">• </span>  Tanque de Água (1x)</li>
                        <li><span class="font-extrabold mr-2">• </span> Vaso Médio (1x)</li>
                    </ul>
                } else{
                    <ul class="space-y-1 font-semibold text-custom_green">
                        <li><span class="font-extrabold mr-2">• </span>  Tubo PVC (2x)</li>
                        <li><span class="font-extrabold mr-2">• </span>  Tanque de Água XL (1x)</li>
                        <li><span class="font-extrabold mr-2">• </span> Vaso Grande (1x)</li>
                        <li><span class="font-extrabold mr-2">• </span> Bomba Pequena Pressão (1x)</li>
                        <li><span class="font-extrabold mr-2">• </span> Recetor Bluetooth (1x)</li>
                    </ul>
                }
            </div>
        </div>
       
        <div class="space-y-2 text-sm mt-6 w-full font-medium text-center text-custom_green">
            <p class="gap-2">
                <span>@product.Titulo</span>
            </p>
            <p class="gap-2">
                <span>@product.Descricao</span>
            </p>
            @if (product.Id == 1){
                <ul class="space-y-1">
                    <li><span class="font-extrabold mr-2">💧 </span>Menos desperdício de água: sistema eficiente que utiliza apenas a quantidade necessária.</li>
                    <li><span class="font-extrabold mr-2">⏰ </span>Menor frequência de rega: poupe tempo e esforço.</li>
                    <li><span class="font-extrabold mr-2">🌱 </span>Perfeito para espaços pequenos: design compacto e versátil.</li>
                </ul>
            } else{
                <ul class="space-y-1">
                    <li><span class="font-extrabold mr-2">📱 </span>Controlo por Bluetooth: ajuste e monitorize a rega através do seu smartphone.</li>
                    <li><span class="font-extrabold mr-2">✨ </span>Maior capacidade: ideal para plantas de médio porte.</li>
                    <li><span class="font-extrabold mr-2">🏡 </span>Design sofisticado: eleva a decoração de qualquer espaço.</li>
                </ul>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public ProductModel product { get; set; }
    
    private void NavigateToEditPage()
    {
        NavigationManager.NavigateTo($"/paineladmin/produtos/{product.Id}");
    }
}
